.additionally__title {
  margin: 0;
  padding: 25px 0 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: inherit;

  @media (min-width: $tablet-width) {
    padding: 68px 37px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 0 81px;
  }
}

.additionally__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 0 86px;
  }
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
