.buy-all {
  background-color: $background-image;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.buy-all__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
  color: $color-text-white;
}
