.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 21px 0;

  @media (min-width: $tablet-width) {
    width: 163px;
    margin: 0;
    padding: 0;
  }
}

.copyright__link {
  padding-bottom: 7px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 100%;
  color: $color-text-main;
  text-decoration: none;

  &:active {
    opacity: 30%;
  }
}

.copyright__logo {
  &:hover svg {
    fill: $background-icon;
  }

  &:active svg {
    fill: $background-icon;
    opacity: 30%;
  }
}
