.example__wrapper {
  background-color: $background-second;
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
}

.example__description {
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-main;
}

.example__holder {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__result-holder {
  grid-column: 1 /3;
  display: flex;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.example__result {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
