.extras-card {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 613px;
    margin: 0;
  }
}

.extras-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: inherit;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.extras-card__description-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 44px;
    justify-items: end;
    column-gap: 48px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 288px;
  }
}

.extras-card__description {
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $color-text-main;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
