.extras-card__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: inherit;
  text-transform: uppercase;
}

.extras-card__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $color-text-main;
}
