.extras-card {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extras-card__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: inherit;
  text-transform: uppercase;
}

.extras-card__description-wrapper {
  display: flex;
  justify-content: space-between;
}

.extras-card__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $color-text-main;
}
