.extras {
  @media (min-width: $tablet-width) {
    padding: 26px 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 895px;
    padding: 15px 0 16px;
  }
}

.extras__button {
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
