.illustration__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.illustration__counter-wrapper {
  display: flex;
  justify-content: space-between;
}

.illustration__title {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.illustration__subtitle {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  color: $color-text-main;
}
