.logo {
  display: flex;
  min-height: 65px;
  align-items: center;
  padding-right: 32px;
}

.logo__text {
  margin: 0 auto;
}

.logo__image:hover,
.logo__text:hover {
  @media (min-width: $desktop-width) {
    opacity: 80%;
  }
}

.logo__image:active,
.logo__text:active {
  @media (min-width: $desktop-width) {
    opacity: 80%;
  }
}

.logo-main__footer {
  width: 128px;
  height: 24px;
}
