.main-button {
  position: relative;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    text-align: left;
    padding: 0 110px 200px;
  }
}

.main-button__form {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 26px;
  color: $color-text-white;
  background-color: $background-button;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 137px;
    top: -310px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: inline-block;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5eaa2f;
    }
  }
}
