.main-intro {
  background: linear-gradient($background-image 302px, $background-white 302px, $background-white 600px);

  @media (min-width: $tablet-width) {
    background: $background-white;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, $background-white 50%, $background-image 50%);
  }
}

.main-intro__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 27px 20px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 320px 302px;

  @media (min-width: $tablet-width) {
    width: 621px;
    padding: 40px 30px 49px 117px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 40px 110px;
  }
}

.main-intro__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $color-text-white;

  @media (min-width: $tablet-width) {
    width: 416px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: $color-text-black;
  }

  @media (min-width: $desktop-width) {
    color: $color-text-black;
  }
}

.main-intro__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $color-text-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $color-text-black;
  }

  @media (min-width: $desktop-width) {
    color: $color-text-black;
  }
}

.main-intro__image {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
  }
}
