.main-footer {
  &--inner {
    background-color: $background-first;
  }

  @media (min-width: $desktop-width) {
    background-color: $background-first;
  }
}

.main-footer__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }
}

.main-footer__social-wrapper {
  background-color: $background-first;
}

.main-footer__social {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo {
  display: block;
  margin: 0 auto;
  padding: 38px 0 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.main-footer__map {
  height: 362px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    height: 400px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
