.page {
  height: 100%;
  background-color: $background-white;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: $main-font;
  color: $color-text-black;
  background-color: $background-white;
}
