.pets-problems__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1400px;
  }
}

.pets-problems__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.pets-problems__item {
  margin-top: 20px;
  padding: 30px 20px 22px;
  background-color: $background-first;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.pets-problems__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: inherit;
  text-transform: uppercase;
}

.pets-problems__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-main;
}

.pets-problems__link {
  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
