.product-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  padding: 19px 20px 25px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: auto;
    padding: 161px 37px 39px;
    background-color: $background-first;
  }

  @media (min-width: $desktop-width) {
    padding: 162px 36px 40px 40px;
  }
}

.product-card__link-image {
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 100px;
  }

  &--small {
    @media (min-width: $tablet-width) {
      top: -46px;
      left: 82px;
    }

    @media (min-width: $desktop-width) {
      top: -52px;
      left: 43px;
    }
  }

  &--large {
    @media (min-width: $tablet-width) {
      top: -73px;
      left: 78px;
    }

    @media (min-width: $desktop-width) {
      top: -80px;
      left: 39px;
    }
  }
}

.product-card__button {
  margin: 0 auto;
}
