.product-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 37px 39px;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $background-first;
  }

  @media (min-width: $desktop-width) {
    display: block;
    background-color: $background-first;
  }
}

.product-card__link-image {
  margin: 20px;
}

.product-card__button {
  margin: 0 auto;
}
