.product-cards {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 143px;
  }
}
