.product {
  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 163px 30px 71px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 165px 110px 75px;
  }
}

.product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
