.program__instruction {
  width: 226px;
  padding: 0 74px 0 20px;
  margin: 0 auto;
  margin-top: -4px;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  font-weight: inherit;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-top: 0;
    padding: 0 375px 0 70px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 323px;
    margin-bottom: 66px;
    padding: 0 1007px 0 110px;
  }
}

.program__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    width: 630px;
    margin: 0 auto;
    padding: 0 67px 0 71px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    width: 1220px;
    padding: 0 110px;
  }
}

.program__fieldset-holder {
  &--radio {
    padding-top: 28px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      margin: 72px 0 75px;
      border: none;
      outline: 1px solid $color-border-first;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0;
    }
  }
}

.program__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--radio {
    padding: 30px 0 7px;
  }
}

.program__list {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.program__list--contacts {
  @media (min-width: $tablet-width) {
    width: 632px;
    margin: 0 auto;
    padding: 0 65px 0 71px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    width: 1220px;
    padding: 0 110px;
  }
}

.program__list-additionally {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 124px;
    row-gap: 24px;
    width: 728px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    padding: 0 110px;
  }
}

.program__item {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }
}

.program__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: $color-text-main;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--radio {
    margin-bottom: 25px;
  }


  &--checkbox {
    margin-bottom: 25px;
  }
}

.program__control-wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 631px;
    padding: 0 67px 0 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.program__control {
  padding: 13px 15px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $color-text-main;
    opacity: 100%;
  }

  &--field {
    width: 100%;
    margin-left: 12px;
    border: none;
    outline: 1px solid $color-border-first;

    &-email {
      background-image: url("../img/icons/email.svg");
      background-repeat: no-repeat;
      background-position: right 12px center;
    }

    &-phone {
      background-image: url("../img/icons/phone.svg");
      background-repeat: no-repeat;
      background-position: right 12px center;
    }
  }

  &--textarea {
    width: 256px;
    height: 150px;
    margin: 0;
    padding: 9px 12px;
    text-align: center;
    border: none;
    outline: 1px solid $color-border-second;

    @media (min-width: $tablet-width) {
      width: 593px;
      height: 154px;
      padding: 10px 19px;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      width: 1182px;
    }
  }
}

.program__mark-radio {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  outline: 1px solid $color-border-second;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 28px;
  }
}

.program__control[type="radio"]:checked + .program__mark-radio::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $background-icon;
  border-radius: 50%;
  content: "";
}

.program__mark-checkbox {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid $color-border-second;
}

.program__control[type="checkbox"]:checked + .program__mark-checkbox {
  background-image: url("../img/icons/control-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.program__option {
  padding-left: 45px;
  color: $color-text-title;

  @media (min-width: $tablet-width) {
    padding-left: 87px;
  }
}

.program__text {
  padding-left: 46px;
  color: $color-text-black;
}

.program__title-wrapper {
  position: relative;

  &::before {
    position: absolute;
    top: 15px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 23px;
    }
  }
}

.program__title-holder {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    padding: 0 70px;
  }
}

.program__title {
  position: relative;
  width: max-content;
  margin-top: 26px;
  margin-bottom: 35px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: inherit;
  background-color: $background-white;

  @media (min-width: $tablet-width) {
    max-width: max-content;
    padding: 0 39px;
    font-size: 36px;
    line-height: 36px;
  }

  &--contacts {
    max-width: 187px;

    @media (min-width: $tablet-width) {
      max-width: max-content;
      padding: 0 39px;
    }
  }

  @media (min-width: $desktop-width) {
    width: max-content;
    margin-top: 69px;
    margin-bottom: 76px;
    padding: 0 40px;
  }
}

.program__button {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px max-content;
    column-gap: 61px;
    align-items: center;
    width: 708px;
    padding: 0 30px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 568px max-content;
    width: 1220px;
    padding: 0 110px;
  }
}

.program__description {
  margin: 0;
  padding: 21px 0 32px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding: 0;
  }
}
