.program__instruction {
  width: 226px;
  padding: 0 74px 0 20px;
  margin: 0 auto;
  margin-top: -4px;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  font-weight: inherit;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 323px;
    margin-top: 0;
    margin-bottom: 67px;
    padding: 0 375px 0 70px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 323px;
    margin-bottom: 66px;
    padding: 0 1007px 0 110px;
  }
}

.program__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    width: 630px;
    margin: 0 auto;
    padding: 0 67px 0 71px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    width: 1220px;
    padding: 0 110px;
  }
}

.program__fieldset-holder {
  margin-bottom: 9px;

  &--radio {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      margin: 54px 0 61px;
      border: none;
      outline: 1px solid $color-border-first;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0;
    }
  }
}

.program__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--radio {
    padding: 30px 0 0;
  }
}

.program__list {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.program__list--contacts {
  @media (min-width: $tablet-width) {
    width: 632px;
    margin: 0 auto;
    padding: 0 65px 0 71px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    width: 1220px;
    padding: 0 110px;
  }
}

.program__list-additionally {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 124px;
    row-gap: 17px;
    width: 628px;
    margin-bottom: 16px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    column-gap: 66px;
    width: 1220px;
    margin-bottom: 23px;
    padding: 0 110px;
  }
}

.program__item {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &--additionally {
    @media (min-width: $tablet-width) {
      margin-bottom: 5px;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

.program__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: $color-text-main;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--radio {
    margin-bottom: 25px;
  }


  &--checkbox {
    margin-bottom: 25px;
  }
}

.program__control-wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 631px;
    padding: 0 67px 0 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.program__control {
  position: relative;
  padding: 13px 15px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 10px 18px 11px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $color-text-main;
    opacity: 100%;
  }

  &--field {
    width: 100%;
    margin-left: 13px;
    border: none;
    outline: 1px solid $color-border-first;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }

    &:hover {
      outline: 1px solid $color-border-second;
    }

    &:focus {
      outline: 2px solid #444444;
    }

    &:focus:invalid {
      outline: 2px solid #ff8282;
    }

    &:focus:invalid + .program__icon {
      stroke: #ff8282;
    }

    &:focus:invalid + .program__icon--phone {
      fill: #ff8282;
      stroke: none;
    }

    &:focus + .program__icon {
      stroke: #68b738;
    }

    &:focus + .program__icon--phone {
      fill: #68b738;
      stroke: none;
    }

    @media (min-width: $tablet-width) {
      margin-left: 17px;
    }
  }

  &--textarea {
    width: 256px;
    height: 132px;
    margin: 0;
    padding: 9px 12px;
    text-align: center;
    border: none;
    outline: 1px solid $color-border-second;

    @media (min-width: $tablet-width) {
      width: 593px;
      height: 154px;
      padding: 10px 19px;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      width: 1182px;
    }
  }
}

.program__control:disabled ~ .program__option {
  opacity: 30%;
}

.program__control:disabled ~ .program__text {
  opacity: 30%;
}

.program__icon {
  position: absolute;
  right: 14px;

  @media (min-width: $tablet-width) {
    right: 18px;
  }
}

.program__mark-radio {
  position: absolute;
  top: -8px;
  content: "";
  width: 30px;
  height: 30px;
  outline: 1px solid $color-border-second;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: -5px;
    left: 28px;
    width: 40px;
    height: 40px;
  }
}

.program__control[type="radio"]:checked + .program__mark-radio::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $background-icon;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

.program__control:hover + .program__mark-radio {
  outline: 1px solid #bababa;
}

.program__control:disabled + .program__mark-radio {
  outline: 1px solid #bababa;
  opacity: 30%;
}

.program__mark-checkbox {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  outline: 1px solid $color-border-second;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program__control:hover + .program__mark-checkbox {
  outline: 1px solid #bababa;
}

.program__control:disabled + .program__mark-checkbox {
  outline: 1px solid #bababa;
  opacity: 30%;
}

.program__control[type="checkbox"]:checked + .program__mark-checkbox {
  background-image: url("../img/icons/control-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.program__option {
  padding-left: 45px;
  color: $color-text-title;

  @media (min-width: $tablet-width) {
    padding-left: 87px;
  }
}

.program__text {
  padding-left: 46px;
  color: $color-text-black;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 20px;
  }
}

.program__title-wrapper {
  position: relative;

  &::before {
    position: absolute;
    top: 15px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 23px;
    }
  }
}

.program__title-holder {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    padding: 0 70px;
  }
}

.program__title {
  position: relative;
  width: max-content;
  margin-top: 26px;
  margin-bottom: 35px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: inherit;
  background-color: $background-white;

  @media (min-width: $tablet-width) {
    max-width: max-content;
    padding: 0 39px;
    font-size: 36px;
    line-height: 36px;
  }

  &--contacts {
    max-width: 187px;
    margin-top: 15px;

    @media (min-width: $tablet-width) {
      max-width: max-content;
      padding: 0 39px;
      margin-bottom: 77px;
    }
  }

  @media (min-width: $desktop-width) {
    width: max-content;
    margin-top: 69px;
    margin-bottom: 76px;
    padding: 0 40px;
  }

  &--comment {
    margin-top: 10px;
    margin-bottom: 37px;

    @media (min-width: $tablet-width) {
      margin-top: 46px;
      margin-bottom: 77px;
    }
  }

  &--additionally {
    margin-top: 19px;
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      margin-top: 60px;
      margin-bottom: 62px;
    }
  }
}

.program__button {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px max-content;
    column-gap: 61px;
    align-items: center;
    width: 628px;
    padding: 0 70px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 568px max-content;
    width: 1220px;
    margin-bottom: 86px;
    padding: 0 110px;
  }
}

.program__description {
  margin: 0;
  padding: 21px 0 32px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding: 0;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 22px;
    padding-top: 12px;
  }
}
