.realization__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
}

.realization__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: inherit;
  color: $color-text-main;
}
