.show-more {
  position: relative;
  width: 280px;
  padding: 76px 20px 25px;
  margin: 0 auto;
  text-align: center;

  &::after {
    position: absolute;
    content: url("../img/icons/plus.svg");
    top: 25px;
    left: 145px;
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 163px 37px 35px;

    &::after {
      content: url("../img/icons/plus-large.svg");
      top: 55px;
      left: 132px;
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 51px;
      left: 92px;
    }
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
  color: $color-text-secondary;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__subtitle {
  margin: 0;
  margin-bottom: 21px;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-main;

  @media (min-width: $tablet-width) {
    width: 167px;
    margin: 0 auto;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}
