.show-more {
  text-align: center;
}

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
  color: $color-text-secondary;
  text-transform: uppercase;
}

.show-more__subtitle {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-main;
}
