.site-list__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.site-list__link {
  display: block;
  padding: 21px 10px 23px;
  font-family: $main-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 5px 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 15px;
    font-size: 20px;
    line-height: 30px;
    color: $color-text-white;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
    }
  }
}

.site-list__link--current {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: -4px;
      content: "";
      height: 2px;
      background-color: $background-button;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: -4px;
      content: "";
      height: 2px;
      background-color: $background-white;
    }
  }
}
