.social {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 63px 30px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 57px 110px 58px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 22px 0;
  list-style-type: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  padding: 5px;
}
