.social {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 63px 30px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 57px 110px 58px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 22px 0 16px;
  list-style-type: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 22px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: -12px;
    padding-left: 24px;
  }
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  padding: 5px;

  &:hover svg {
    fill: $background-icon;
  }

  &:active svg {
    fill: $background-icon;
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: -7px;
  }
}
