.user-button {
  text-align: center;
}

.user-button__form {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-white;
  background-color: $background-button;
  text-decoration: none;
  text-transform: uppercase;
}
