// Шрифты
$main-font: "Oswald", sans-serif;
$main-font-medium: "Oswald-medium", sans-serif;
$secondary-font: "Arial", sans-serif;

// Цвета
$background-image: rgba(104, 183, 56, 0.85);
$background-first: #f2f2f2;
$background-second: #eaeaea;
$background-button: #68b738;
$background-icon: #68b738;
$background-page: #e5e5e5;
$background-white: #ffffff;
$color-text-main: #444444;
$color-text-title: #222222;
$color-text-secondary: #111111;
$color-text-white: #ffffff;
$color-text-black: #000000;
$color-border-first: #e7e7e7;
$color-border-second: #cdcdcd;
$color-range: #dcdcdc;


